{%extends "layout.html"%}
{%load static%}
{%block content%}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card mt-5">
                <div class="card-header">
                    <div class="float-start"><h5 class="text-center font-weight-light">Book List</h5></div>
                    <div class="float-end middle"><a href="{%url 'book_export_csv'%}" class="btn btn-dark btn-sm"><i class="fa fa-file-excel" aria-hidden="true"></i></a></div>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>SN</th>
                                    <th>Cover</th>
                                    <th>Title</th>
                                    <th>Author</th>
                                    <th>ISBN</th>
                                    <!--<th>Tags</th>-->
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {%for book in book_lists%}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td><img src="/media/{{book.book_conver}}" style="width:50px" /></td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.authors}}</td>
                                    <td>{{book.isbn}}</td>
                                    <!--<td>{{book.tags}}</td>-->
                                    <td>
                                        <div class="btn-group">
                                            <a href="{%url 'book_update' book.id%}" class="btn btn-dark btn-sm"><i class="fa fa-edit text-white"></i></a>
                                            <a href="{%url 'print_book_barcode'%}" class="btn btn-dark btn-sm"><i class="fa fa-barcode text-white"></i></a>
                                        </div>
                                        
                                    </td>
                                </tr>
                                {%endfor%}
                            </tbody>

                        </table>

                    </div>   
                    <div class="card-footer">
                        <div class="pagination float-end">
                            <span class="step-links">
                                {% if book_lists.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ book_lists.previous_page_number }}">previous</a>
                                {% endif %}

                                <span class="current">
                                    Page {{ book_lists.number }} of {{ book_lists.paginator.num_pages }}.
                                </span>

                                {% if book_lists.has_next %}
                                <a href="?page={{ book_lists.next_page_number }}">next</a>
                                <a href="?page={{ book_lists.paginator.num_pages }}">last &raquo;</a>
                                {% endif %}
                            </span>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
    </div>
</div>
{%endblock%}
